<%- include("header") -%>
<body>
    <h1>Today's Tasks</h1>
    <h3><%= listName %></h3>
    <div class="container">
        <ul class="tasks">
            <%for(let i=0; i<notes.length; i++){%>
                <% let note = notes[i] %>
                <form action="/delete" method="post" id="check-form">
                <li><input type="checkbox" name="checkbox" value = "<%= note._id %>" onchange=this.form.submit()> <p><%= note.name %></p></li>
                </form>
            <%}%>
        </ul>
        <form action="/" method="post" class="input-form">
            <input type="text" placeholder="Add Note" name="newNote">
            <button type="submit" name="submit" value="<%= listName %>">Add</button>
        </form>
    </div>
    
    <!-- <script>
       function submitForm()
       {
        document.getElementById('check-form').submit();
       }
    </script> -->

</body>
<%- include("footer") -%>
</html>