<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home-styles.css">
</head>
<body>
    <%- include("partials/header") -%>
    <main>
        <h1>Welcome</h1>
        <section>
            <h3>Recent Posts</h3>

            <% for(let i=post.length-1; i>=0; i--){ %>
                <div class="card">
                    <div class="date">28th<br>Oct<br>2023</div>
                    <div class="post-content">
                        <span><a href="/posts/<%= post[i]['postTitle'] %>"><%= post[i]['postTitle'] %></a></span>
                        <p class="content"><%= post[i]['postContent'] %></p>
                    </div>
                </div>
                <hr>
            <% } %>

        </section>
    </main>
    <%- include("partials/footer") -%>
</body>
</html>